* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*common css*/
.btn {
  background-color: #469165;
  border: none;
  padding: 16px 16px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}
/*header section*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.menu {
  display: flex;
  gap: 32px;
  list-style: none;
}
.menu a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

/* hero Section */
.hero-section {
  background: url(../assets/images/hero-bg.png);
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 0 20px;
}

.badge {
  background: #ffffff1a;
  border: 1px solid #ffffff66;
  padding: 6px 16px;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 30px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #4ade80;
  border-radius: 50%;
  margin-right: 8px;
  box-shadow: 0 0 10px #4ade80;
}

/* Heading */
.hero-section h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 20px;
}

.highlight {
  color: #48bb78;
}

/* Paragraph */
.hero-section p {
  font-size: 18px;
  line-height: 1.6;
  color: #cbd5e0;
  margin-bottom: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* btn */
.hero-btn {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.btn-primary {
  background-color: #48bb78;
  color: white;
}

.btn-primary:hover {
  background-color: #38a169;
}

.btn-secondary {
  background-color: transparent;
  color: white;
  border: 1px solid #4a5568;
}

.btn-secondary:hover {
  background-color: #ffffff1a;
}
.right-icon {
  font-size: 12px;
  margin-left: 10px;
}
.play-icon {
  font-size: 12px;
  margin-right: 10px;
}
/* note section Styling */
.note {
  text-align: center;
  margin-top: 50px;
}
.note h1 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
}
.note p {
  color: #627382;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 15px;
}

.note-icon {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 50px;
}
.icon {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 340px;
}
.icon h2 {
  font-weight: 600;
  font-size: 20px;
  color: #001931;
  padding-bottom: 15px;
}

.icon p {
  font-size: 16px;
  color: #627382;
}
/* Icon Wrapper Styling */
.icon-wrapper {
  width: 64px;
  height: 64px;
  background-color: #f95555;
  color: #fee2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 24px;
}

.second-brain-section {
  width: 100%;

  display: flex;
  justify-content: center;
}

.brain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

/* --- Left Image Styling --- */
.brain-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- Right Text Styling  */
.content-side {
  flex: 1;
  margin-top: 70px;
}

.sub-title {
  color: #30b868;
  font-weight: 700;
  font-size: 14px;

  display: block;
  margin-bottom: 15px;
}

h1 {
  font-size: 30px;
  color: #001931;
  line-height: 1.1;
  font-weight: 800;
  margin-bottom: 25px;
}

p {
  color: #627382;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 35px;
}

.feature-list {
  list-style: none;
}

.feature-list li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
  color: #001931;
  font-weight: 600;
  font-size: 16px;
}

.feature-list i {
  color: #10b981;
  font-size: 22px;
}

/* --- Early Access Section --- */
.early-access-section {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.early-access-section .padding {
  padding-bottom: 20px;
}
.cta-card {
  width: 100%;
  max-width: 1100px;
  background-color: #f7f6f2;
  border-radius: 24px;
  padding: 80px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.early-access-section h2 {
  font-size: 42px;
  font-weight: 800;
  color: #001931;
  margin-bottom: 15px;
}

.early-access-section p {
  font-size: 16px;
  color: #627382;
  font-weight: 500;
}

/* footer section design*/

.main-footer {
  background-color: #001529;
  color: #ffffff;
  padding: 80px 20px 40px;
  font-family: 'Inter', sans-serif;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.footer-logo img {
  height: 60px;
  display: block;
}

.social-section {
  text-align: center;
}

.social-section h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #ffffff;
}

.social-icons {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.social-icons a {
  background-color: #ffffff;
  color: #001529;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;

  text-decoration: none;
}

.copy-right {
  text-align: center;
}
.border hr {
  color: #94a3b8;
}
.copy-right p {
  color: #94a3b8;
  font-size: 14px;
  margin-top: 40px;
}
